<table>
<tr>
<th>Date</th>
<th>Start Time</th>
<th>End Time</th>
<th>No of Guest</th>
<th>Price</th>
</tr>
    <?php foreach($ExperienceSlotDtl as $dtls){ ?>
    <tr>
        <td><?php echo $dtls['ExperienceSlot']['start_date']; ?></td>
        <td><?php echo $dtls['ExperienceSlot']['slot_start_time']; ?></td>
        <td><?php echo $dtls['ExperienceSlot']['slot_end_time']; ?></td>
		<td><?php echo @$dtls['ExperienceSlot']['no_of_people']; ?></td>
        <td><i class="fa fa-fw fa-1x">&#xf156;</i><?php echo $dtls['ExperienceSlot']['price']; ?></td>
    </tr>
    
    <?php }?>


</table