  
                            


<?php          
   if(count($coffeeShopList)>0){
	   ?>

 <?php 
 
       
       
	$keyItem=0;
	foreach($coffeeShopList as $item){ 
        if($item['CoffeeShop']['seo_unique_url']!=""){            
			$keyItem++;$keyItem=0;
?>

                                <div class="col-lg-12 col-md-12">
					<div class="listing-item-container list-layout">
						<div class="listing-item">
							
							<!-- Image -->
                                                       
							<div class="listing-item-images">
                                                                <a target="_blank" href="<?php echo  Configure::read('app_root_path')."coffee-shops/".$item['CoffeeShop']['seo_unique_url']; ?>">
								<img src="<?php echo Configure::read('app_root_path').$item['CoffeeShopImage']['img_path'].'/'.$item['CoffeeShopImage']['thumbnail_img_name'];?>" alt="Coffee Shop">
								</a>
                                                                <span class="tag">Coffee Shop</span>
                                                                
							</div>
							
                                                        
							<!-- Content -->
							<div class="listing-item-content">
                                                            
                                                                <?php 
                                                                $store_opening_time =  date('H:i', strtotime($item['CoffeeShop']['opening_time']));
                                                                $store_closing_time =  date('H:i', strtotime($item['CoffeeShop']['closing_time']));
                                                                
                                                                $current_time = date('H:i');
                                                        
                                                                
                                                                if($store_opening_time<$current_time && $store_closing_time>$current_time){
                                                                ?>    
                                                                    <div class="listing-badge now-open">Now Open</div>
                                                                
                                                                <?php    
                                                                }
                                                                ?>
								
                                                                <?php $google_map_link = "http://www.google.com/maps/place/".$item['CoffeeShop']['latitude'].",".$item['CoffeeShop']['longitude']; ?>
								<div class="listing-item-inner">
									<h3><?php echo $item['CoffeeShop']['shop_name'];?> <i class="verified-icon"></i></h3>
									<span><?php echo $item['CoffeeShop']['address1'].','.$item['CoffeeShop']['city'];?> </span><br/>
									<span><?php echo $item['CoffeeShop']['opening_time'].' - '.$item['CoffeeShop']['closing_time'];?> </span></br>
                                                                        <a target="_blank" href="<?php echo $google_map_link;?>">View on Map</a>
                                                                        <!--<div class="star-rating" data-rating="3.5">
										<div class="rating-counter">(12 reviews)</div>
									<span class="star"></span><span class="star"></span><span class="star"></span><span class="star half"></span><span class="star empty"></span></div>-->
								</div>

								
							</div>
						</div>
					</div>
				</div>


   
				<!-- Listing Item / End -->

<?php 
        }
        }
        }else{ ?>    
	
	<div style="
    text-align: center;
    height: 250px;
    padding-top: 100px;
    font-stretch: extra-expanded;
    font-family: monospace;
    color: #a4692d;
    font-size: larger;
">
			No items found. Please try different combination of search.
</div>

<?php }

?>      

	<!-- Pagination -->
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12">
						<!-- Pagination -->
				<div id="pagination" class="pagination-container margin-top-20 margin-bottom-40" style=" text-align: center;">
					<?php echo $perpageresult; ?>
				</div>
			</div>
		</div>
				<!-- Pagination / End -->
                                
                         
<script>



</script>