@charset "UTF-8";
.checkInbtn{
     font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    color: #484848 !important;
    background: none !important;
    border: 1px solid #dce0e0 !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    display: inline-block !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important; 
}
	
 .main-search-input-item { padding-left: 0px !important; padding-right: 0px !important; }
	
.link {padding: 10px 15px;background: transparent;border:#bccfd8 1px solid;border-left:0px;cursor:pointer;color:#607d8b}
.disabled {cursor:not-allowed;color: #bccfd8;}
.current {background: #bccfd8;}
.first{border-left:#bccfd8 1px solid;}
.question {font-weight:bold;}
.answer{padding-top: 10px;}
#pagination{margin-top: 20px;padding-top: 30px;border-top: #F0F0F0 1px solid;}
.dot {padding: 10px 15px;background: transparent;border-right: #bccfd8 1px solid;}
#overlay {background-color: rgba(0, 0, 0, 0.6);z-index: 999;position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: none;}
#overlay div {position:absolute;left:50%;top:50%;margin-top:-32px;margin-left:-32px;}
.page-content {padding: 20px;margin: 0 auto;}
.pagination-setting {padding:10px; margin:5px 0px 10px;border:#bccfd8  1px solid;color:#607d8b;}
    
 .breadcrumbs{
        right: inherit;
        padding-top:45px;
     position: inherit !important;
 }   
.sortby{
            background: #ebebeb;
}    

.product {
    margin-bottom: 35px;
}
.product {
    position: relative;
    max-width: 370px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
}
.product .product-prev {
    position: relative;
    margin-bottom: 20px;
    perspective: 1000px;
}
.product .product-prev a {
    display: block;
    text-decoration: none;
    outline: none !important;
    color: #15110d;
}
.product .product-label {
    position: absolute;
    top: 25px;
    left: 0;
    margin: 0;
    padding: 10px;
    background: #f5f5f5;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: #30271c;
}
.product .price {
    font-weight: 400;
    font-size: 20px;
    color: #c7a17a;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-shopping-basket:before {
    content: "\f291";
}
    
.product .product-label{
     position:absolute;top:25px;left:0;margin:0;padding:10px;background:#f5f5f5;font-weight:700;font-size:18px;line-height:18px;text-transform:uppercase;color:#30271c;
    }
.product .product-prev{
    position:relative;margin-bottom:20px;perspective:1000px;
}
.product .product-prev:hover .hide-product-buttons{
    opacity:1;transform:rotateX(0deg);-ms-transform-origin:bottom;transform-origin:bottom;
}
.product .product-prev a{display:block}.product .product-prev .hide-product-buttons{
    position:absolute;bottom:0;left:0;opacity:0;width:100%;display:-ms-flexbox;display:flex;height:54px;transform:rotateX(90deg);-ms-transform-origin:bottom;transform-origin:bottom;transition:all .5s}.product .product-prev .hide-product-buttons a{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;margin:0;padding:15px;text-align:center;
}
.product .product-prev .hide-product-buttons a:nth-child(1){
    width:100%;background:#c7a17a;color:#fff;transition:all .2s;
}
.product .product-prev .hide-product-buttons a:nth-child(1):hover{
    background:#a27546;
}
.product .product-prev .hide-product-buttons a:nth-child(1):hover i{
    -ms-transform:rotate(15deg);transform:rotate(15deg);
}
.product .product-prev .hide-product-buttons a:nth-child(1):active{
    background:#c49d74;
}
.product .product-prev .hide-product-buttons a:nth-child(1) i{
    margin-right:5px;font-size:18px;transition:all .1s;-ms-transform-origin:top center;transform-origin:top center;
}
.product .product-prev .hide-product-buttons a:nth-child(2){
    width:65px;background:#f5f5f5;
}
.product .product-prev .hide-product-buttons a:nth-child(2):hover{
    background:#fafafa;    
}
.product .product-prev .hide-product-buttons a:nth-child(2):hover i:nth-child(1){
    color:#c7a17a;
}
.product .product-prev .hide-product-buttons a:nth-child(2).active-follow i:nth-child(1){display:none;}
.product .product-prev .hide-product-buttons a:nth-child(2).active-follow i:nth-child(2){
    display:block; }
.product .product-prev .hide-product-buttons a:nth-child(2) i{
    font-weight:400;font-size:18px;transition:all .3s;
}
.product .product-prev .hide-product-buttons a:nth-child(2) i:nth-child(2){
    display:none;color:#c7a17a;
}
.product .product-name{ 
    display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #dedcdb;
}
.product .product-name p,.product .product-name a{margin:0}
.product .product-desc{
    display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:justify;justify-content:space-between;padding-top:10px;
}.product .product-desc p{margin:0}
.product .product-desc .product-rating i{
    font-size:14px;color:#c7a17a; 
}


/*[ Header cart ]
-----------------------------------------------------------
*/

.price{
	font-weight: 400;
    font-size: 20px;
    color: #c7a17a;
}
.cartbox{
/*	border: 1px solid  #c7a17a;*/
    max-height: 60px;
    float: right;
    width:auto;
	padding: 10px;
	
}
.carticon img{
	max-height: 30px;
	margin-top:16px;
}  
.wrapper-left{
	float:left;
	width: auto;
	
}
.wrapper-right{
	float:right;
	width: auto;
	background-color:#c7a17a;
	min-height: 60px;
	margin-left: 10px;
	
}
#cartCounter {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #c7a17a;
    font-weight: 300;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: #fff;
    top:10px;
}

.header-cart {
  position: absolute;
  z-index: 1100;
  width: 339px;
  top: 95%;
  right: 112px;
  padding: 20px; 
  background-color: white;

  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  
  transform-origin: top right;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.show-header-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.fixed-header .header-cart {
  top: 160%;
}

.header-cart-wrapitem {
  max-height: 270px;
  overflow: auto;
}

.header-cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* ------------------------------------ */
.header-cart-item-img {
  width: 80px;
  position: relative;
  margin-right: 20px;
}

.header-cart-item-img img {
  width: 100%;
}

.header-cart-item-img::after {
  content: '\e870';
  font-family: Linearicons;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.header-cart-item-img:hover:after {
  cursor: pointer;
  opacity: 1;
}

/* ------------------------------------ */
.header-cart-item-txt {
  width: calc(100% - 100px);
}

.header-cart-item-name {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.3;
  margin-bottom: 12px;
}

.header-cart-item-info {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #888888;
  line-height: 1.5;
}

.header-cart-total {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.3;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 3px;
}
/* ------------------------------------ */
.header-cart-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-cart-wrapbtn {
  width: calc((100% - 10px) / 2);
}


/*--------------------------- CART PAGE ------------------------------------------------ */
@media (min-width: 1240px){
.container {
    width: 1240px !important;
	}
}

.cart-content .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.cart-content {
    padding-bottom: 70px;
	line-height: 26px;
	font-family: "Lato",sans-serif;
}
@media (max-width: 1440px){
.cart-content .wrap-cart {
    margin-bottom: 35px;
	}
}
@media (max-width: 1600px){
.cart-content .wrap-cart {
    margin-bottom: 35px;
	}
}
@media (max-width: 1920px){
.cart-content .wrap-cart {
    margin-bottom: 35px;
	}
}

.cart-content .wrap-cart {
    overflow: auto;
}
@media (max-width: 1440px){
.cart-card {
    margin-bottom: 40px;
	}
}
@media (max-width: 1600px){
.cart-card {
    margin-bottom: 40px;
	}
}

@media (max-width: 1920px){
.cart-card {
    margin-bottom: 40px;
	}
}
.cart-content h2{
	margin-bottom: 30px;
	margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
	font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px
}

.cart-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-width: 600px;
}
.cart-card .cart-card-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
}
.cart-card .cart-card-name h4, .cart-card .cart-card-name .h4 {
    margin-bottom: 10px;
    font-size: 20px;
	margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}
.cart-card p {
    margin-bottom: 5px;
	margin-bottom: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
}
.cart-card .cart-card-name{
	width:180px;
}
.cart-card .cart-card-name p {
    margin-bottom: 5px;
	margin-bottom: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
	margin: 0 0 10px;
}
.cart-card .cart-card-name p span {
    margin-right: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.cart-card .cart-card-name .availability {
    margin: 0;
}
.cart-card .cart-card-name p {
    margin-bottom: 5px;
}

.availability {
    font-weight: 700;
    letter-spacing: 2px;
    color: #505050;
}
.cart-card .cart-card-price .once-price {
    margin: 0;
}
.quantity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cart-card .inner-quantity {
    margin: 0;
}
.cart-card-quantity .quantity .inner-quantity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px 15px;
    border: 1px solid #bcbcbc;
}
.cart-card-quantity .quantity .inner-quantity p {
    margin-right: 50px;
    margin-bottom: 0;
}

.cart-card-quantity .quantity .inner-quantity .counters .decrement {
    margin-right: 5px;
}
.cart-card-quantity .quantity .inner-quantity .counters i {
    font-size: 18px;
    color: #808080;
    cursor: pointer;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-caret-left:before {
    content: "\f0d9";
}
.quantity .inner-quantity .counters .count {
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 0;
    border: none;
    width: 30px;
    font-size: 18px;
    text-align: center;
	line-height: 16px;
}
.quantity .inner-quantity .counters input {
   line-height: 16px;
   font-weight: 300;
   color: #15110d;
   outline: none !important;
   display: inline !important;
   box-shadow : none !important;
}
.quantity .inner-quantity .counters .increment {
    margin-left: 5px;
}
.fa-caret-right:before {
    content: "\f0da";
}
.cart-card .cart-card-all-prise .all-price {
    margin: 0;
}
.cart-card .product-control-buttons {
    position: absolute;
    bottom: -30px;
    right: 0;
}
.cart-card .product-control-buttons span:first-child {
    margin-right: 10px;
}
.cart-card .product-control-buttons span {
    font-size: 20px;
    color: #9a9897;
    cursor: pointer;
}
.cart-content .cart-control-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.cart-content .cart-control-buttons .continue-shopping {
    background: #fff;
    color: #c7a17a;
}
.cart-content .cart-control-buttons a {
    width: 33.33%;
    padding: 15px 0;
 
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s;
}
.cart-content .cart-control-buttons .continue-shopping i {
    margin-right: 4px;
    transition: all .3s;
}

.cart-control-button a:hover, a:focus {
	    text-decoration: none;
    color: #c7a17a;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-arrow-left:before {
    content: "\f060";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fa-pencil:before {
    content: "\f040";
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.total-form {
    padding-left: 50px;	
}
.total-form p{
	margin-bottom: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
	margin: 0 0 10px;

}
.total-form .cart-totals {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}
.total-form h4 .total-form .h4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
    font-size: 20px;
	   font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 18px;
	font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 18px;
	    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}
.h4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    /*border-bottom: 1px solid #ededed;*/
    font-size: 20px;
	   font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 18px;
	font-weight: 700;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 18px;
	    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}
.total-form .subtotal {
    width: 100%;
    margin-bottom: 10px;
	text-transform: uppercase;
}
.total-form .subtotal p {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.total-form .subtotal p span {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.total-form .shipping {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}
.total-form .shipping p {
    width: 100%;
}
.total-form .shipping p span {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.total-form .shipping .shipping-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    width: calc(100% - 85px);
    max-width: 225px;
    margin-bottom: 35px;
}
.total-form .shipping .shipping-form input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
}
.total-form .shipping .shipping-form input[type="radio"]+label {
    position: relative;
    padding-left: 20px;
    font-weight: 300;
    text-align: left;
    width: 120px;
    cursor: pointer;
}
.total-form .shipping .shipping-form input[type="radio"]:checked+label:before .total-form .shipping .shipping-form input[type="radio"]:checked+label:after {
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.total-form .shipping .shipping-form input[type="radio"]+label:before {
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #d5d5d5;
    transition: all .3s;
    transition-delay: .1s;
}


.total-form .shipping .shipping-form input[type="radio"]:checked+label:before, .total-form .shipping .shipping-form input[type="radio"]:checked+label:after {
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}

.total-form .shipping .shipping-form input[type="radio"]+label:before {
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #d5d5d5;
    transition: all .3s;
    transition-delay: .1s;
	background-color: #c7a17a;
}
.total-form .shipping .shipping-form input[type="radio"]+label:before, .total-form .shipping .shipping-form input[type="radio"]+label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 50%;
    -ms-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
}





.total-form .shipping .shipping-form .shipping-head.active_accordeon {
    margin-bottom: 30px;
}
.total-form .shipping .shipping-form .shipping-head {
    margin-top: 15px;
    transition: all .3s;
}

.total-form .shipping p {
    width: 100%;
}
.total-form h5, .total-form .h5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #c7a17a;
    cursor: pointer;
}
.total-form .shipping .shipping-form .shipping-head.active_accordeon i {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.total-form .shipping .shipping-form .shipping-head i {
    transition: all .3s;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-angle-down:before {
    content: "\f107";
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.total-form .shipping .shipping-form .shipping-accordeon {
    width: 100%;
}
.select {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
    outline: none !important;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.cart-content button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.cart-content button, select {
    text-transform: none;
}
.cart-content button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cart-content select:not(:-internal-list-box) {
    background-color: buttonface;
}
.cart-content select:not(:-internal-list-box) {
    overflow: visible !important;
}
.cart-content select {
    border-radius: 0px;
    border-color: #dbdbdb ;
	border:1px solid #dbdbdb !important;
}
.cart-content select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}
.cart-content select {
    border-radius: 5px;
}
.cart-content input textarea select button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.cart-content input textarea select button meter progress {
    -webkit-writing-mode: horizontal-tb !important;
}
.total-form .shipping .shipping-form .shipping-accordeon .select2 {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    outline: none !important;
}
.select2 {
    margin-bottom: 20px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.total-form .order-totals {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}
.total-form .order-totals p {
    width: 100%;
}

.total-form h4, .total-form .h4 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ededed;
    font-size: 20px;
}
.total-form .order-totals .inner-order-totals {
    max-width: 225px;
    width: 100%;
}
.total-form .order-totals .inner-order-totals .cupon-head.active_accordeon {
    margin-bottom: 30px;
}
.total-form .order-totals .inner-order-totals .cupon-head {
    transition: all .3s;
    margin-top: 0;
    margin-bottom: 0;
}

.total-form .order-totals p {
    width: 100%;
}
.total-form h5 .total-form .h5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #c7a17a;
    cursor: pointer;
}
.total-form .order-totals .inner-order-totals .cupon-head.active_accordeon i {
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.total-form .order-totals .inner-order-totals .cupon-head i {
    transition: all .3s;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
.total-form h5 .total-form .h5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #c7a17a;
    cursor: pointer;
}
.total-form .order-totals .cupon-accordeon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}
.total-form>button {
    display: block;
    width: 100%;
    margin-top: 40px;
    padding: 13px 15px;
}
.cart-content button {
    margin-top: 2px !important;
    padding: 13px 45px  !important;
    border: 2px solid #c7a17a  !important;
    background: #c7a17a  !important;
    font-size: 15px  !important;
    font-weight: 700  !important;
    text-transform: uppercase  !important;
    text-align: center  !important;
    letter-spacing: 2px  !important;
    color: #fff  !important;
    outline: none !important ;
    outline: none !important ;
    transition: all .2s ;
}
.cart-content button input select textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.total-form button input[type=button] input[type=reset] input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.total-form button select {
    text-transform: none;
}
.total-form button {
    overflow: visible;
}
.total-form button input optgroup select textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
.total-form .shipping .shipping-form .shipping-head {
    margin-top: 15px;
    transition: all .3s;
}
.total-form .shipping p {
    width: 100%;
}
.total-form h5 .total-form .h5 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    color: #c7a17a;
    cursor: pointer;
}

.total-form  h5 .total-form .h5 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
}

/*--------------------------- CART PAGE ------------------------------------------------ */

/* ============================= HOME PAGE =============================================== */
.user-name .guest_icon{
	background-color: #c7a17a;
    text-align: center;
    padding: 7px;
    border-radius: 50%;
	color:white;
	font-weight: bold;
    font-size: x-large;
}
@media (max-width: 1440px)
    .home-content .category-baner-wrap {
    padding-top: 35px;
}
@media (max-width: 1600px)
    .home-content .category-baner-wrap {
    padding-top: 35px;
}
@media (max-width: 1920px)
.home-content .category-baner-wrap {
    padding-top: 35px;
}
.category-baner.category-baner-1 {
    background: url(../images/banners/homestay_kaapitrip.png) no-repeat center;
}
.category-baner.category-baner-2 {
    background: url(../images/banners/experience_kaapitrip.png) no-repeat center;
}
.category-baner.category-baner-3 {
    background: url(../images/banners/product_kaapitrip.jpg) no-repeat center;
}
@media (max-width: 1440px)
.category-baner {
    margin-bottom: 35px;
}
.category-baner {
    position: relative;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
    background-size: cover !important;
}
.category-baner .category-baner-text {
    position: absolute;
    bottom: 50px;
    padding: 15px;
}
.category-baner h2, .category-baner .h2 {
    margin-bottom: 15px;
    color: #ffffff;
	    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
	margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    line-height: 1.2em;
}
.category-baner h3, .category-baner .h3 {
    margin-bottom: 30px;
    color: #fff;
	    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
	    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    line-height: 1.2em;
}
.category-baner .category-baner-text .button {
    margin: 0;
}
.category-baner .button {
    background-color: transparent;
    color: #fff;
}

.category-baner a.btn,  .category-baner a.button, .category-baner button, .category-baner .button {
    margin-top: 20px;
    padding: 13px 45px;
    border: 2px solid #c7a17a;
    background: #c7a17a;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    outline: none !important;
    transition: all .2s;
	    display: inline-block;
    text-decoration: none;
    outline: none !important;
}
.user-menu {
	top:6px;
	color: #3b1712;
    cursor: pointer;
    font-size: 15px;
/*
    text-transform: uppercase;
    font-weight: bold;
*/
	line-height: 32px;
}
.user-name span {
	width:34px;
	height:34px;
}
.user-name .guest_icon {
	padding:1px;
}
.headline{
	    text-transform: uppercase;
    color: #3c1813;
}
.user-menu ul li a {
	 padding: 0px 0px; 
}
.user-menu ul li{
	text-transform:initial;
}
@media only screen and (max-width: 1365px){
	.user-menu ul {
		left: 106px;
		right: auto;
	}
}

/* ============================= HOME PAGE =============================================== */

/* ============================= LISTING PAGE =============================================== */
.item_list_box{
	margin-bottom:1002:02px;
	min-height:375px;
}
.fig-desc-strip{
	padding: 5px;  
	color: #333;
	position: relative; 
	z-index: 3; 
	line-height:18px !important; 
	min-height: 82px;
}
.fig-desc-strip .caption-title{
	min-height: 34px;
}


/* ============================= LISTING PAGE =============================================== */
.heading h2{
	color: #c7a17a;
    letter-spacing: 2px;
	text-transform: uppercase;
}

.color-5{	
  background: linear-gradient(to left, rgba(255,255,255,0) 25%, rgba(255,255,255,0.1));
    background-color: #c7a17a;
	height: 95px !important;
} 
.color-6{	
  background: linear-gradient(to left, rgba(255,255,255,0) 25%, rgba(255,255,255,0.1));
    background-color: #926d46;
	height: 95px !important;
} 
.color-7{	
  background: linear-gradient(to left, rgba(255,255,255,0) 25%, rgba(255,255,255,0.1));
    background-color: #69451f;
	height: 95px !important;
} 
.stat-content-block{
	width: 52% !important;
}


/* ==========================  Coffee Shop Listing ============================== */


.listing-item-container.list-layout .listing-item-images {

    min-height: 200px;
    flex: 2;
    height: 100%;
    overflow: visible;
    border-radius: 4px 0 0 4px;
    position: relative;

 }
