.bread-crumbs li {
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 300;
    font-size: 16px;
    color: #505050;
}

/*
.bread-crumbs li:before {
    content: '/';
    left: auto;
    top: 0;
    right: -9px;
    height: auto;
    background-color: transparent;
    color: #505050;
}*/


.bread-crumbs li:before {
    content: "\f105";
    font-family: "FontAwesome";
    color: #a0a0a0;
    font-size: 14px;
    margin-right: 15px;
}

.bread-crumbs li:first-child::before {
  content: "";
  margin-left: 0;
}

body ul {
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}



.bread-crumbs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
}



.bread-crumbs {
    padding-bottom: 35px;
}

.bread-crumbs {
    padding-top: 35px;
}


@media (max-width: 1440px){
.product-slider {
    margin-bottom: 35px;
}
}
@media (max-width: 1600px){
    .product-slider {
    margin-bottom: 35px;
}
}
@media (max-width: 1920px){
    .product-slider {
    margin-bottom: 35px;
}
}

.product-slider {
    overflow: hidden;
    max-width: 500px;
}



.tabs-box {
    margin-bottom: 35px;
}

.tabs-box {
     margin-top: 35px; 
}

.tabs-box .tabs {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 1px solid #c7a17a;
}

.tabs-box .tabs li.active, .tabs-box .tabs li:hover {
    background: #c7a17a;
}

.tabs-box .tabs li {
    margin: 0;
    padding: 15px 55px;
    cursor: pointer;
    transition: all .3s;
}

.tabs-box .tab_container {
    margin-top: 35px;
}

.tabs-box .tabs li.active p, .tabs-box .tabs li:hover p {
    color: #fff;
}

.tabs-box .tabs li p {
    margin: 0;
    transition: all .3s;
}

.tabs-box h3, .tabs-box .h3 {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.tabs-box .tab_container .tab_accordion {
    display: none;
}


.product-info {
    margin-bottom: 35px;
}

.product-info h2, .product-info .h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}

.product-info .product-rating {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.product-info .product-rating span {
    margin-right: 3px;
}

body .product-rating i {
    font-size: 14px;
    color: #c7a17a;
}

.product-info .product-rating p {
    margin-bottom: 0;
    margin-left: 15px;
}

.product-info p {
    margin-bottom: 20px;
    font-family: "Lato",sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #505050;
}

.product-info .availability {
    margin-top: 20px;
    margin-bottom: 20px;
}

.availability {
    font-weight: 700;
    letter-spacing: 2px;
    color: #505050;
}

.availability i {
    color: #c7a17a;
    margin-right: 3px;
}

.product-info .price {
    font-weight: 700;
    font-size: 20px;
    color: #15110d;
}


.quantity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}



.quantity .inner-quantity {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #bcbcbc;
}



.quantity .inner-quantity .counters .count {
    margin: 0;
    padding: 0;
    width: auto;
    min-width: 0;
    border: none;
    width: 30px;
    font-size: 18px;
    text-align: center;
}


.quantity .inner-quantity .counters input {
    line-height: 16px;
    font-weight: 300;
    color: #15110d;
    outline: none !important;
    display: inline !important;
    box-shadow : none !important;
}

.quantity .inner-quantity p {
    margin-right: 50px;
    margin-bottom: 0;
}

.quantity .inner-quantity .counters .decrement {
    margin-right: 5px;
}

.quantity .inner-quantity .counters i {
    font-size: 18px;
    color: #808080;
    cursor: pointer;
}
.fa-caret-left:before {
    content: "\f0d9";
}

.fa-caret-left:before {
    content: "\f0d9";
}



.quantity .inner-quantity .counters .count input {
    line-height: 16px;
}

.quantity .inner-quantity .counters .increment {
    margin-left: 5px;
}

.quantity .inner-quantity .counters i {
    font-size: 18px;
    color: #808080;
    cursor: pointer;
}

.fa-caret-right:before {
    content: "\f0da";
}

.quantity button {
    margin: 0;
    margin-bottom: 20px;
}

a.btn, a.button, button, .button {
    margin-top: 20px;
    padding: 13px 45px;
    border: 2px solid #c7a17a;
    background: #c7a17a;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    outline: none !important;
    transition: all .2s;
}

.product-info .add-buttons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
}

.product-info .add-buttons a:first-child {
    margin-right: 20px;
}

.product-info .add-buttons a {
    color: #505050;
    transition: all .3s;
}

.product-info .add-buttons a i {
    margin-right: 5px;
    transition: all .3s;
}

.fa-heart-o:before {
    content: "\f08a";
}

.product-info .add-buttons a i:nth-child(2) {
    opacity: 0;
    font-size: 0;
    color: #c7a17a;
    -ms-transform: scale(0);
    transform: scale(0);
}

.product-info .add-buttons a i {
    margin-right: 5px;
    transition: all .3s;
}
.fa-heart:before {
    content: "\f004";
}


.product-info .secondary-info {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d4d4d4;
}

.product-info .secondary-info p {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product-info .secondary-info p span {
    margin-left: 3px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: capitalize;
}

.product-info .secondary-info p:last-child {
    margin-bottom: 0;
}

.share-product {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.share-product p {
    margin-right: 20px;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.share-product .share {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.share-product .share li {
    margin-bottom: 0;
    margin-right: 10px;
    padding: 0;
}

.product-slider .big-slider {
    margin-bottom: 20px;
}

.product-slider .small-slider .small-slider-iner {
    padding: 0 10px;
    outline: none !important;
}


.related-slider-header .h2 {

    font-weight: 700;
    font-size: 30px;
    letter-spacing: 3px;
        margin-top: 0;
    margin-bottom: 30px;
    
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;

}


product .product-name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #dedcdb;
}

.product .product-name p, .product .product-name a {
    margin: 0;
}

.product .price {
    font-weight: 400;
    font-size: 20px;
    color: #c7a17a;
}

.product .price span {
    position: relative;
    margin-right: 5px;
    font-weight: 300;
    font-size: 16px;
    color: #89847e;
}

.product .price span:before {
    content: '';
    position: absolute;
    top: 51%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #89847e;
}

.product .product-desc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
}

.product .product-desc p {
    margin: 0;
}

.related-slider .prev-slider, .related-slider .next-slider {
    position: absolute;
    right: 15px;
    bottom: 35px;
}

.related-slider .prev-slider {
    right: 65px;
}



.prev-slider, .next-slider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 1px solid #c7a17a;
    cursor: pointer;
    transition: all .3s;
}

.prev-slider i, .next-slider i {
    font-weight: 300;
    font-size: 24px;
    color: #c7a17a;
    transition: all .3s;
}

.related-slider .related-product-slider {
    margin-right: -15px;
    margin-left: -15px;
}

.related-slider .related-product-slider .card {
    margin-right: 0;
    outline: none !important;
}



.related-slider .related-product-slider .card .product {
    max-width: 390px;
    margin-bottom: 0;
    padding: 0 15px;
}

.related-slider .related-product-slider .card .product {
    margin-bottom: 35px;
}

.shop-category .product {
    margin-left: auto;
    margin-right: auto;
}

.product .product-prev {
    position: relative;
    margin-bottom: 20px;
    perspective: 1000px;
}

product .product-prev a {
    display: block;
    
    display: inline-block;
    text-decoration: none;
    outline: none !important;
    color: #15110d;

}

.product .product-prev .hide-product-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
    transform: rotateX(90deg);
    -ms-transform-origin: bottom;
    transform-origin: bottom;
    transition: all .5s;
}

.product .product-prev .hide-product-buttons a:nth-child(1) {
    width: 100%;
    background: #c7a17a;
    color: #fff;
    transition: all .2s;
}

.product .product-prev .hide-product-buttons a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.product  .h5 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}

.product .product-prev .hide-product-buttons a:nth-child(1) i {
    margin-right: 5px;
    font-size: 18px;
    transition: all .1s;
    -ms-transform-origin: top center;
    transform-origin: top center;
}

.product .product-prev .hide-product-buttons a:nth-child(2) {
    width: 65px;
    background: #f5f5f5;
}

.product .product-prev .hide-product-buttons a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    padding: 15px;
    text-align: center;
}



.product .h4 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    color: #15110d;
    line-height: 1.2em;
}

