
<!-- Container -->
<div class="container">

	<div class="row">
		<div class="col-md-12">

			<section id="not-found" class="center">
				<h2>404 <i class="fa fa-question-circle"></i></h2>
				<p>We're sorry, but the page you were looking for doesn't exist.</p>

				<!-- Search 				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="main-search-input gray-style margin-top-50 margin-bottom-10">
							<div class="main-search-input-item">
								<input type="text" placeholder="What are you looking for?" value=""/>
							</div>

							<button class="button">Search</button>
						</div>
					</div>
				</div>-->
				<!-- Search Section / End -->


			</section>

		</div>
	</div>

</div>
<!-- Container / End -->