<?php foreach($experienceSlots as $slots){ ?>
<label class="checkboxes ">
<input type="radio" value="<?php echo $slots['ExperienceSlot']['id']; ?>" class="option-input " name="slots[]" style="width:32px !important; height:20px; margin-bottom: 3px !important; float:left;     margin-top: 3px;" onclick="javascript:updatePrice(<?php echo $slots['ExperienceSlot']['id']; ?>,'<?php echo $slots['ExperienceSlot']['slot_start_time']; ?>','<?php echo $slots['ExperienceSlot']['slot_end_time']; ?>',<?php echo $slots['ExperienceSlot']['final_price']; ?>)">

<?php echo $slots['ExperienceSlot']['slot_start_time']." − ". $slots['ExperienceSlot']['slot_end_time']; ?> <?php echo " ₹ ".number_format($slots['ExperienceSlot']['final_price'])."(per person)"; ?>
</label>
<?php } ?>